$theme-colors: (
  "primary": #86BAE7,
);

@import "~bootstrap/scss/bootstrap";

.header {
  text-decoration: none !important;
  color: theme-color("dark") !important;
}

.content {
  margin: auto;
  max-width: 700px;

  a {
    text-decoration: underline;
  }

  ul.bullets {
    list-style: none;
    padding-left: 1em;

    li::before {
      content: "\2022";
      color: theme-color("primary");
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  .thumbnail {
    border-radius: 50%;
  }
}

.page-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  color: theme-color("primary");
}

footer {
  margin-top: 5em;
  background: lighten(theme-color("primary"), 10%);

  a {
    color: theme-color("dark");
    text-decoration: underline;
  }
}